{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
    Новости
{% endblock title %}

{% block content %}
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
    {% endif %}
    {% if is_not_authors %}
        <button><a href="{% utl 'upgrade' %}">Стать автором</a></button>
    {% endif %}
    <h1>Список новостей:</h1>
    <hr>
    {% if category_news_list %}
        <form method="GET">
            {{ filter.form }}
            <input type="submit" value="Найти">
        </form>>
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Категории
                </td>
                <td>
                    Текст
                </td>
                <td>
                    Дата
                </td>
            </tr>>
        {% for post in category_news_list %}
            <tr>
                <td>
                    <a href="{% url 'post_detail' post.id %}">{{ post.title | censor }}</a>
                    <a href="{% url 'post_upgrade' post.id %}"><u>Редактировать</u></a>
                    <a href="{% url 'post_delete' post.id %}"><u>Удалить</u></a>
                </td>
                <td>
                    {% for category in post.category.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </td>
                <td>
                    {{ post.preview | censor }}
                </td>
                <td>
                    {{ post.created_at | date:'d M Y' }}
                </td>
            </tr>
        {% endfor %}
        </table>>
    {% else%}
        <h2>Новостей нет</h2>
    {% endif %}

    <a href="{% url 'post_create' %}">Добавить новую статью</a> <br>

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                    <a>{{ num }}</a>
            {elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}

{% endblock content %}