
{% extends 'default.html' %}



{% block content %}
{% if posts %}
    <h2>Количество постов: {{ posts|length }}</h2>
<table width="70%" style="margin-top: 35px">
    <tr>
        <td><u>Заголовок</td></u>
        <td><u>Дата публикации</td></u>
        <td><u>Содержание</td></u>
        <td><u>Категория</td></u>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ post.title }}</td>
        <td>{{ post.time_in|date:'d M Y' }}</td>
        <td>{{ post.text|truncatewords:20 }}</td>
        {% for cat in post.category.all %}
        <td>{{ cat.name }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% else %}
<h3>Публикаций нет!<h3>
{% endif %}
{% endblock content %}